In [1]:
# libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
titanic = pd.read_csv("Datasets/titanic.csv")

In [3]:
titanic.drop("Name", inplace=True, axis=1)
titanic.drop("Ticket", inplace=True, axis=1)

In [4]:
x = titanic.iloc[:, 2:]
y = titanic.iloc[:, 1]

In [5]:
sex = pd.get_dummies(x['Sex'], drop_first = True)
x = x.drop('Sex', axis = 1)
x = pd.concat([x, sex], axis = 1)

In [6]:
cabin = pd.get_dummies(x['Cabin'], drop_first = True)
x = x.drop('Cabin', axis = 1)
x = pd.concat([x, cabin], axis = 1)

In [7]:
embark = pd.get_dummies(x['Embarked'], drop_first = True)
x = x.drop('Embarked', axis = 1)
x = pd.concat([x, embark], axis = 1)

In [8]:
x = x.dropna(axis="columns", how="any")
x

,Pclass,SibSp,Parch,Fare,male,A14,A16,A19,A20,A23,...,F G63,F G73,F2,F33,F38,F4,G6,T,Q,S
0,3,1,0,7.2500,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,1,0,71.2833,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,7.9250,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,0,53.1000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,3,0,0,8.0500,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,0,0,13.0000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
887,1,0,0,30.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
888,3,1,2,23.4500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
889,1,0,0,30.0000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
890,3,0,0,7.7500,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 3)
classifier.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [12]:
y_pred = classifier.predict(x_test)
from sklearn.metrics import accuracy_score, classification_report
print("Accuracy =", accuracy_score(y_test, y_pred))

Accuracy = 0.776536312849162

In [13]:
y_test

489    1
673    1
119    0
274    1
826    0
      ..
293    0
269    1
319    1
845    0
849    1
Name: Survived, Length: 179, dtype: int64

In [14]:
y_pred

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1])

In [16]:
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[87 21]
 [19 52]]
              precision    recall  f1-score   support

           0       0.82      0.81      0.81       108
           1       0.71      0.73      0.72        71

    accuracy                           0.78       179
   macro avg       0.77      0.77      0.77       179
weighted avg       0.78      0.78      0.78       179